manifest {
    nextflowVersion = '!>=23.04.0'
    mainScript = "main.nf"
}

plugins {
  id 'nf-validation'
}

params {
    ref_genome_folder = ""
    metaeuk_folder = ""
    galba_folder = ""
    braker_folder = ""

}
profiles {
    singularity {
       enabled = true
       autoMounts = true
       cacheDir = params.singularity_cachedir
       registry = 'quay.io'
    }

    lsf {
        workDir = params.workdir
        params.databases = params.dbs
        executor {
            name = "lsf"
            queueSize = 200
        }
        params.cloudProcess = true
        process.cache = "lenient"
    }

    slurm {
        workDir = params.workdir
        params.databases = params.dbs
        executor {
            name = "slurm"
            queueSize = 200
        }
        params.cloudProcess = true
        process.cache = "lenient"
    }

    local {
         docker {
            enabled = true
            autoMounts = true
            registry = 'quay.io'
            userEmulation = true
            runOptions = "--platform linux/x86_64"
        }
        executor {
            name = "local"
            cpus = 2
            memory = '1 GB'
        }
    }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'