/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store EBI's Codon cluster specifics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {

    ebi_slurm {
        includeConfig 'codon_dbs.config'
        conda.enabled = false
        params {
            outdir               = "results"
            workdir              = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/microeuks/"
            singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
        }
        workDir = params.workdir
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
        executor {
            name = "slurm"
            queueSize = 200
        }
        params.cloudProcess = true
        process.cache = "lenient"
    }
}