process {
    withName: CALCULATE_F1_SCORE {
        publishDir = [
            [
                path: "${params.outdir}/F1_score",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*f1_scores*"
            ]
        ]
    }

    withName: GFFCOMPARE {
        publishDir = [
            [
                path: "${params.outdir}/gffcompare",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.stats"
            ]
        ]
    }

    withName: PLOT_F1_STATS {
        publishDir = [
            [
                path: "${params.outdir}/F1_score/plots",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*f1_stats*"
            ]
        ]
    }

    withName: REFORMAT_GFF {
        publishDir = [
            [
                path: "${params.outdir}/reformatted_gffs",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*reformatted*"
            ]
        ]
    }


}
